.no-margin {
  margin: 0px;
}

.required {
  color: red;
}

* {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}

.chinese-font {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}

.flat-font {
  color: rgba(0,0,0,.6);
  font-weight: 700;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px !important;
}

.bg-light-green {
  background-color: #F2F6F6;
}

.bg-light-grey {
  background-color: #FFFFFF;
}

.page-min-height {
  min-height: 80vh;
}

.m-box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(141, 50, 50, 0.2);
}

/* robin style */
.r-box-shadow {
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(48,51,51,.09) !important;
}

.r-box-shadow.link:hover {
  background-color: #FAFAFA;
}

.r-link-color {
  color: #f45531;
}

.r-green-color {
  color: #30CD9A;
}

/* // ---------- */

.flash-notice {
  position: absolute;
  top: 15%;
  color: white;
  padding: 20px 50px 20px 50px !important;
}

.flash-notice.success {
  background-color: #2ecc71;
}

.flash-notice.info {
  background-color: #3498db;
}

.flash-notice.alert {
  background-color: #e74c3c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.character-counter {
  display: none;
}

.hide {
  display: none;
}

/* // ----- Style for report ----- */

.close-icon-style {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close-icon-style:hover {
  color: #f44336;
}

/*---------- Calendar Style ----------*/

.calendar-height {
  height: 800px;
}

@media screen and (max-width: 1300px) {
  .calendar-height {
    height: 700px;
  }
}